#show {
  width: 30px;
  height: 30px;
  color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 20px auto;
  transition: 0.4s;
}

#show div {
  width: 30px;
  height: 2px;
  background: skyblue;
  margin: 6px auto;
  transition: 0.4s;
  backface-visibility: hidden;
}

#show.on .one {
  transform: rotate(45deg) translate(0, -3px);
  transform-origin: left top;
}

#show.on .two {
  opacity: 0;
}

#show.on .three {
  transform: rotate(-45deg) translate(0, 3px);
  transform-origin: left bottom;
}


